<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Select Bar</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>

    <div class="app-wrapper">
        <!-- opciones -->
        <div class="config-panel glass-element">
            <label>
                <input type="checkbox" id="toggleSearch" checked> Habilitar Búsqueda
            </label>
            <label>
                <input type="checkbox" id="toggleMultiSelect" checked> Selección Múltiple
            </label>
        </div>

        <!-- Contenedor principal del Select -->
        <div class="select-container" id="selectContainer">
            <div class="select-box glass-element" id="selectBox">
                <div id="tagsContainer" class="tags-container"></div>
                <input type="text" id="searchInput" placeholder="Buscar en la tienda...">
            </div>
            
            <ul id="dropdownList" class="glass-element hidden">
                <!-- categorias y opciones -->
            </ul>
        </div>
    </div>

    <script src="index.js"></script>
</body>
</html>